*{
    padding: auto;
    width: auto;
}

#menu-serv{
    margin: 12%;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

#li{
        margin-top: 100px;
        text-align: center;
        color: #525;
}

.item-serv{
    text-align: center;
    color: #525;
}